<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Stock Explorer with Emitter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.css" rel="stylesheet">

    <link rel="stylesheet" href="css/styles.css" type="text/css" />
</head>
<body>
<div class="container" id="app"> 

    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="row">
            <h2>Stock Explorer</h2>
            <p>Enter a ticker symbol below and explore the stock value, dividends and financial information. This 
                demonstrates a request/response application built using publish/subscribe paradigm. The server 
                for this example is written in <a href="https://golang.org/">Go</a> and is using 
                <a href="https://finance.yahoo.com/">Yahoo Finance</a> API.</p>
            <hr>
        </div>

        <div class="row">
            <form v-on:submit.prevent >
                <div class="input-group">
                    <input type="text" class="form-control" v-model="symbol" placeholder="Enter a ticker (eg: AAPL)">
                    <span class="input-group-btn">
                        <button class="btn btn-default form-control" type="submit" v-on:click="query()">Query <i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>

        <div class="row"  v-if="result.Name !== nul && result.Name !== nulll">
            <div class="col-sm-7 left"><h3>{{result.Name}} <a target="blank" href="http://www.morningstar.com/stocks/xnas/{{result.Symbol}}/quote.html">{{result.Exchange}}:{{result.Symbol}}</a></h3></div>
            <div class="col-sm-5 right">
                <h3>
                    Price: {{result.LastTradePrice | currencyDisplay}} &nbsp;
                    <span v-bind:class="{ red: result.Change < 0, green: result.Change > 0 }">{{result.Change | percentageDisplay}}</span>
                </h3>
            </div>
        </div>


        <div class="row" v-if="result.Name !== undefined && result.Name !== null">
            <div class="col-sm-12">
                <h4>Stock</h4>
                <table class="table">
                    <tr><th>Bid/Ask<th><td>{{result.Ask | currencyDisplay}} / {{result.Bid | currencyDisplay}}</td></tr>
                    <tr><th>Suggested Price<th><td>If you want to buy this stock, place a limit order at about <b>{{(result.Ask + Math.abs(result.Ask - result.Bid) / 2) | currencyDisplay }}</b></td></tr>
                    <tr><th>P/E Ratio<th><td> {{result.PeRatio}}</td></tr>
                    <tr><th>Moving Averages<th><td>50 Days: {{result.Ma50 | currencyDisplay}}, 200 Days: {{result.Ma200 | currencyDisplay}}</td></tr>
                    <tr><th>Low/High<th><td> Day Low: {{result.DayLow | currencyDisplay}},  Day High: {{result.DayHigh | currencyDisplay}}, Year Low: {{result.YearLow | currencyDisplay}}, Year High: {{result.YearHigh | currencyDisplay}}</td></tr>
                </table>
            </div>

            <img class="col-sm-12 yahoo-chart" src="http://chart.finance.yahoo.com/z?s={{result.Symbol}}&t=6m&q=l&l=on&z=l&p=m50,m200" />
        </div>

        
        <div class="row" v-if="result.DividendFrequency > 0">
            <hr />
            <div class="col-sm-12">
                <h4>Dividends</h4>
                <table class="table">
 
                    <tr><th>Dividend/Earnings Per Share<th><td>{{result.DividendPerShare | currencyDisplay}} / {{result.EarningsPerShare | currencyDisplay}}</td></tr>
                    <tr><th>Dividend Yield<th><td><span v-bind:class="{ red: result.DividendYield < 2, green: result.DividendYield > 4 }">{{result.DividendYield | percentageDisplay}} - {{result.DividendYieldRating}}</span></td></tr>
                    <tr><th>Dividend Exercise Date<th><td>{{result.DividendExDate}}</td></tr>
                    <tr><th>Helpful Indicators<th>
                    <td>
                        Cash From Operations: <span v-bind:class="{ red: result.Profitability.charCodeAt(0) > 67, green: result.Profitability.charCodeAt(0)  <= 67 }">{{result.Profitability}}</span>, 
                        Revenue Growth: <span v-bind:class="{ red: result.Growth.charCodeAt(0) > 67, green: result.Growth.charCodeAt(0)  <= 67 }">{{result.Growth}}</span> 
                    </td></tr>

                </table>


                <h5>Dividends are paid <b>{{result.DividendFrequency}}x per year<b></h5>
                <div id='dividends-chart'></div>
            </div>
        </div>


        <div class="row" v-if="result.Financials != null">
            <hr />
            <div class="col-sm-12">
                <h4>Financials</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{result.Financials[0].Date | dateDisplay}}</th>
                            <th>{{result.Financials[1].Date | dateDisplay}}</th>
                            <th>{{result.Financials[2].Date | dateDisplay}}</th>
                        </tr> 
                    </thead>

                    <tr v-if="result.Financials[2].Income.Revenue != 0">
                        <th>Revenue</th>
                        <td>{{result.Financials[0].Income.Revenue | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Income.Revenue | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Income.Revenue | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Income.OperatingIncome != 0">
                        <th>Operating Income</th>
                        <td>{{result.Financials[0].Income.OperatingIncome | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Income.OperatingIncome | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Income.OperatingIncome | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Income.NetIncome != 0">
                        <th>Net Income</th>
                        <td>{{result.Financials[0].Income.NetIncome | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Income.NetIncome | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Income.NetIncome | millionsDisplay}}</td>
                    </tr>

                  <tr v-if="result.Financials[2].Income.NetInterestIncome != 0">
                        <th>Net Interest Income</th>
                        <td>{{result.Financials[0].Income.NetInterestIncome | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Income.NetInterestIncome | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Income.NetInterestIncome | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Balance.CurrentAssets != 0">
                        <th>Current Assets</th>
                        <td>{{result.Financials[0].Balance.CurrentAssets | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.CurrentAssets | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.CurrentAssets | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Balance.NonCurrentAssets != 0">
                        <th>Non Current Assets</th>
                        <td>{{result.Financials[0].Balance.NonCurrentAssets | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.NonCurrentAssets | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.NonCurrentAssets | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Balance.TotalAssets != 0">
                        <th>Total Assets</th>
                        <td>{{result.Financials[0].Balance.TotalAssets | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.TotalAssets | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.TotalAssets | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Balance.NetLoans != 0">
                        <th>Net Loans</th>
                        <td>{{result.Financials[0].Balance.NetLoans | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.NetLoans | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.NetLoans | millionsDisplay}}</td>
                    </tr>
                    
                    <tr v-if="result.Financials[2].Balance.Deposits != 0">
                        <th>Deposits</th>
                        <td>{{result.Financials[0].Balance.Deposits | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.Deposits | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.Deposits | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Balance.CurrentLiabilities != 0">
                        <th>Current Liabilities</th>
                        <td>{{result.Financials[0].Balance.CurrentLiabilities | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.CurrentLiabilities | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.CurrentLiabilities | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].Balance.TotalLiabilities != 0">
                        <th>Total Liabilities</th>
                        <td>{{result.Financials[0].Balance.TotalLiabilities | millionsDisplay}}</td>
                        <td>{{result.Financials[1].Balance.TotalLiabilities | millionsDisplay}}</td>
                        <td>{{result.Financials[2].Balance.TotalLiabilities | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].CashFlow.CashFromOperations != 0">
                        <th>Cash From Operations</th>
                        <td>{{result.Financials[0].CashFlow.CashFromOperations | millionsDisplay}}</td>
                        <td>{{result.Financials[1].CashFlow.CashFromOperations | millionsDisplay}}</td>
                        <td>{{result.Financials[2].CashFlow.CashFromOperations | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].CashFlow.CashFromInvesting != 0">
                        <th>Cash From Investing</th>
                        <td>{{result.Financials[0].CashFlow.CashFromInvesting | millionsDisplay}}</td>
                        <td>{{result.Financials[1].CashFlow.CashFromInvesting | millionsDisplay}}</td>
                        <td>{{result.Financials[2].CashFlow.CashFromInvesting | millionsDisplay}}</td>
                    </tr>
                    
                    <tr v-if="result.Financials[2].CashFlow.CashFromFinancing != 0">
                        <th>Cash From Financing</th>
                        <td>{{result.Financials[0].CashFlow.CashFromFinancing | millionsDisplay}}</td>
                        <td>{{result.Financials[1].CashFlow.CashFromFinancing | millionsDisplay}}</td>
                        <td>{{result.Financials[2].CashFlow.CashFromFinancing | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].CashFlow.CapitalExpenditures != 0">
                        <th>Capital Expenditures</th>
                        <td>{{result.Financials[0].CashFlow.CapitalExpenditures | millionsDisplay}}</td>
                        <td>{{result.Financials[1].CashFlow.CapitalExpenditures | millionsDisplay}}</td>
                        <td>{{result.Financials[2].CashFlow.CapitalExpenditures | millionsDisplay}}</td>
                    </tr>

                    <tr v-if="result.Financials[2].CashFlow.FreeCashFlow != 0">
                        <th>Free Cash Flow</th>
                        <td>{{result.Financials[0].CashFlow.FreeCashFlow | millionsDisplay}}</td>
                        <td>{{result.Financials[1].CashFlow.FreeCashFlow | millionsDisplay}}</td>
                        <td>{{result.Financials[2].CashFlow.FreeCashFlow | millionsDisplay}}</td>
                    </tr>

                </table>
                
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js" type="application/javascript"></script>
<script src="https://s3-eu-west-1.amazonaws.com/cdn.emitter.io/js/emitter.min.js" type="application/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.10.1/chartist.min.js" type="application/javascript"></script>
<script src="js/app.visitor.js" type="application/javascript"></script>
<script src="js/app.js" type="application/javascript"></script>
</body>
</html>